*{margin:0px;padding:0px;list-style:none;}
	#all{width:500px;height:400px;position:absolute;}
	#uls{width:500px;height:400px;position:absolute;}
	#uls li{position:absolute;}
	#dis{width:200px;height:25px;position:absolute;z-index:100;right:10px;top:360px;margin-right:400px;}
	#dis li{width:15px;height:15px;border-radius:50%;z-index:100;background:red;float:left;margin-right:10px;margin-top:200px;}
	#dis .cur{background:blue;}